Repository mozartilize/saksa: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, black, flake8, pyright, eslint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade
        language: node
        types:
          - "python"
        entry: poetry run pyupgrade
        args: ["--py37-plus"]
  - repo: local
    hooks:
      - id: isort
        name: Reorder Python imports (src, tests)
        language: node
        types:
          - "python"
        entry: poetry run isort
  - repo: local
    hooks:
      - id: black
        name: black
        language: node
        types:
          - "python"
        entry: poetry run black
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        language: node
        types:
          - "python"
        entry: poetry run flake8

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        language: node
        types:
          - "python"
        entry: poetry run pyright

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: node
        files: '.jsx?$'
        exclude: .eslintrc.js|vite.config.js
        entry: yarn run eslint

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer

update Dockerfile
  Dockerfile
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Release v0.2.0.dev24
  pyproject.toml
Due: none

update scylladb auth
  saksa/scylladb.py
  saksa/settings.py
Due: pyupgrade, isort, black, flake8, pyright

Release v0.2.0dev25
  pyproject.toml
Due: none

Release v0.2.0.dev25
  pyproject.toml
Due: none

add config to disable secure cookies
  saksa/auth/enpoints.py
  saksa/settings.py
Due: pyupgrade, isort, black, flake8, pyright

Release v0.2.0.dev26
  pyproject.toml
Due: none

Update settings.py
  saksa/settings.py
Due: pyupgrade, isort, black, flake8, pyright

Release v0.2.0.dev27
  pyproject.toml
Due: none

Update kafka_worker.py
  saksa/kafka_worker.py
Due: pyupgrade, isort, black, flake8, pyright

Release v0.2.0.dev28
  pyproject.toml
Due: none

update
  frontend/ChatListComponent.jsx
  frontend/MessagesComponent.jsx
  frontend/UserComponent.jsx
  saksa/auth/enpoints.py
  saksa/settings.py
Due: pyupgrade, isort, black, flake8, pyright, eslint

minor fixes on websocket event
  frontend/MessageInput.jsx
  frontend/api/auth.js
  frontend/api/messages.js
Due: eslint

update settings
  pyproject.toml
  saksa/api.py
  saksa/auth/enpoints.py
  saksa/kafka_worker.py
  saksa/settings.py
  saksa/user_event_service.py
Due: pyupgrade, isort, black, flake8, pyright

FE-messages: correctly set cursor on chat change
  frontend/MessageInput.jsx
  frontend/MessagesComponent.jsx
  frontend/api/auth.js
Due: eslint
